body {
    overflow-y: scroll;
}

.nav-wrapper {
    background-color: #2b3e4f;
    background-color: #042a3f;

    color: black;
}

.nav.wrapper {
    color: black;
}

#front-image {
    height: 250px;
    width: 250px;
    margin-right: 10px;
}

.floating-box {
    display: inline-block;
    width: 350px;
    height: 550px;
    margin: 10px;
    border: 2px solid red;  
}

.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}
    
.tabs-vertical .tab {
    width: 100%;
}
    
      
.tabs-vertical .tab .active {
    -moz-transition: border-color 0.5s ease;
    -o-transition: border-color 0.5s ease;
    -webkit-transition: border-color 0.5s ease;
    transition: border-color 0.5s ease;
    border-right: 3px solid #424242;
}
    
.tabs-vertical .tab :hover {
    border-right: 3px solid #eee;
}
    
.tabs-vertical .indicator {
    display: none;
}

.cardtitle {
    margin-top: 0rem;
}

.custom-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.overhide {
    overflow: hidden;
}

.cardsz {
    height: 550px;
    width: 350px;
}
      